.nutrition-page-list-container {
  height: 600px;
  max-width: 40%;
  float: left;

  .nutrition-page-list {
    padding: 0px;

    .each-row-list {
      list-style: none;
      padding: 0px;        
      height: 44px;
      
      div {
        float: left;
        width: 10%;
        height: inherit;
        overflow: hidden;
      }
      :first-child {
        width: 40%;
      }
    }
  }
}