.resultlist-container {
    height: 100%;
    overflow: hidden;
    width: 30%;
    max-width: 360px;
    min-width: 101px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-grid;

    @-moz-document url-prefix() {
      display: inline-block;
    }

    @media #{$phone} { 
      display:block; 
      float: left;
    }

    @media #{$smallphone} { 
      display:block; 
      float: left;
    }

    .result-list {
      list-style-type: none;
      margin: 0px;
      padding: 0 10px;

      @media #{$smallphone} { padding: 0px; }

      li {
        padding: 10px;
        height: 14%;
        border-bottom: 1px black solid;
        line-height: 16px;
        min-height: 65px;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
        text-align: left;

        @media #{$smallphone} { padding: 4px; }

        &:last-child { border-bottom: none; }
        &:hover {
            transition: 0.3s;
            color:#dca1bc;
            i { display: block; }
        }
      }
      span {
        display:block;
        overflow: hidden;
        max-height: 46px;
        
      }
      p {
          margin-top: 5px;
          line-height: 12px;
          color: brown;
          font-size: 13px;

          @media #{$smallphone} { font-size: 10px; }
      }
      i {
        position: absolute;
        right: -15px;
        top: 30px;
        display: none;
      }
    }

    .page-list {
      list-style-type: none;
      text-align: center;
      padding: 0;

      li {
        display: inline;
        padding: 3px;
        cursor: pointer;
        font-size: 20px;

        @media #{$phone} { font-size: 17px; }
        @media #{$smallphone} { font-size: 15px; }


        &:hover {
            color: grey;
        }
      }
    }
}